@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 0, 0, 0;
  }

  .animate-trail::after {
    background-color: rgba(255, 192, 203, 0.3); 
  }
} */

[data-theme="dark"]:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 20;
  --background-end-rgb: 0, 0, 0;
}




/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-small-caps {
    font-variant-caps: small-caps;
  }


  /* BANIERE */
/* ///////////////////////////////////////////////////////////////////////////// */
/* CARRE */
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes disappear {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .animate-appear01 {
    animation: appear 0.15s ease-in-out, disappear 1.2s ease-in-out 1.3s;
  }
  .animate-appear02 {
    animation: appear 0.3s ease-in-out, disappear 1.05s ease-in-out 1.3s ;
  }
  .animate-appear03 {
    animation: appear 0.45s ease-in-out, disappear 0.9s ease-in-out 1.3s;
  }
  .animate-appear04 {
    animation: appear 0.6s ease-in-out, disappear 0.75s ease-in-out 1.3s;
  }
  .animate-appear05 {
    animation: appear 0.75s ease-in-out, disappear 0.6s ease-in-out 1.3s;
  }
  .animate-appear06 {
    animation: appear 0.9s ease-in-out, disappear 0.45s ease-in-out 1.3s;
  }
  .animate-appear07 {
    animation: appear 1.05s ease-in-out, disappear 0.3s ease-in-out 1.3s;
  }
  .animate-appear08 {
    animation: appear 1.2s ease-in-out, disappear 0.15s ease-in-out 1.3s;
  }
  .animate-appear25 {
    animation: appear 2.5s ease-in-out;
  }
  .animate-appear4 {
    animation: appear 4s ease-in-out;
  }
  .animate-appear55 {
    animation: appear 5.5s ease-in-out;
  }
  .animate-appear08::after {
    content : ""
  }
/* /////////////////////////////////////////////////////////////////////////// */
/* OMBRAGE DERRIERE CARRES */
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%) rotate(45deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(45deg);
      opacity: 1;
    }
  }
  .animate-slideInFromLeft {
    animation: slideInFromLeft 1s ease-in-out;
  }
  @keyframes trail {
    0% {
      opacity: 0;
      transform: translateX(-150%) translateY(50%);
    }
    20% {
      opacity: 0.2;
      transform: translateX(-100%) translateY(50%); 
    }
    80% {
      opacity: 0.5;
      transform: translateX(0) translateY(0); 
    }
    90% {
      opacity: 0.2;
      transform: translateX(0) translateY(0); 
    }
    100% {
      opacity: 0;
      transform: translateX(0) translateY(0); 
    }
  }
  .animate-trail {
    position: relative;
  }
  .animate-trail::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 200%;
    background-color: rgba(255, 192, 203, 0.7); 
    animation: trail 2s reverse forwards; 
    transform-origin: left;
    filter: blur(40px); 
  }
  [data-theme="dark"] .animate-trail::after {
    background-color: rgba(255, 192, 203, 0.3); 
  }

/* //////////////////////////////////////////////////////////////////// */
/* CHANGEMENT DE THEME */
.Theme-wrapper {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  background: #f5f6f7;
  height: 100vh;
  padding-top: 20px;
}
.Theme-toggler {
  display: block;
  margin: auto;
}

/* CONTACT
//////////////////////////////////////////////////////////////////////////////////////// */

[data-theme="dark"] .contactBox {
  background-color: rgba(80, 7, 36, 0.25);
}
[data-theme="dark"] .contactBox:hover {
  background-color: rgba(80, 7, 36, 0.5);
}
.contactBox:hover {
  background-color: rgba(253, 242, 248, 0.5);
}
.contactBox {
  background-color: rgba(253, 242, 248, 0.25);
}


}
